{
  "loose": ["all"],
  "whitelist": [
    "flow",
    "es6.classes",
    "es6.properties.computed",
    "utility.inlineEnvironmentVariables"
  ],
  "optional": "utility.inlineEnvironmentVariables"
}
